<div class="card border border-dark sessionCard" style="width: 40rem;">
  <h2 class="card-header bg-dark text-light deviseCard ">Don't have a spell...? Let's Create One...</h2>
  <div class="card-body deviseCardBody">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
      </div>

      <div class="field my-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
      </div>

      <div class="field my-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:'btn btn-success' %>
      </div>
    <% end %>

  </div>

  <div class="card-footer border border-dark text-center deviseCard p-3">
    <%# <%= render "devise/shared/links" %>
    <%- if controller_name != 'sessions' %>
      <%= link_to "Log in", new_session_path(resource_name), class:'text-decoration-none text-light ' %><br />
    <% end %>
  </div>

</div>