<div class="mb-5">
  
  <div class="d-flex justify-content-center align-items-center listHead">
    <h1 class="listHeader text-center">Posts</h1>

    <%if user_signed_in?%>
      <%= link_to new_post_path, class:'px-1' do %>
          <%= image_tag "add-button.png", height: 50, class:'add-btn' %>
      <% end%>
    <% end%>
  </div>

  <div id="posts">
    <% @posts.each do |post| %>

      <%if user_signed_in?%>

        <% if post.user == current_user %>
          <div class="row">
            <div class="column">
              <div class="d-flex listCard justify-content-between align-items-center">
                <div>
                  <span  class="d-inline-block text-truncate text-light showHeaderDiv" style="max-width: 850px;"><%= post.title %></span>
                </div>
                <p class="showBtnDiv">
                <%= link_to "Show", post, class:'btn btn-dark showBtn' %>
                </p>
              </div>
            </div>
          </div>
        <% end %>

      <% else %>

        <div class="row">
          <div class="column">
            <div class="d-flex listCard justify-content-between align-items-center">
              <div>
                <span  class="d-inline-block text-truncate text-light showHeaderDiv" style="max-width: 850px;"><%= post.title %></span>
                <h5 class='authorName'><%= post.author %></h5>
              </div>
              <p class="showBtnDiv">
              <%= link_to "Show", post, class:'btn btn-dark showBtn' %>
              </p>
            </div>
          </div>
        </div>

      <% end %>
    <% end %>
    
  </div>

</div>